DATABASE_URL=postgresql+asyncpg://USERNAME:PASSWORD@HOST:PORT/DATABASE
MONGO_URI=your_mongodb_connection_string

GROQ_API_KEY=Use_Your_Own_Key

# Use this for your .env file SECRET_KEY and ALGORITHM

SECRET_KEY="sih"
ALGORITHM="HS256"

LANGSMITH_API_KEY=Use_Your_Own_Key
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=Your_Project_Name